<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<application>
    <provider
        android:authorities="${applicationId}.content.provider"
        android:exported="false"
        android:enabled="true"
        android:name="com.preference.provider.PreferenceProvider" />

    <activity android:name=".ui.debug.DebugActivity" />

</application>
</manifest>

